<div style="padding-left: 0px;margin-left: 15px;">
<div class="form-group">
  <label class="col-sm-3 control-label label-text">Libellé 1er Trimestre</label>
  <div class="col-sm-4" >
    <input type="text" class="control-label label-text  input-model-Decoup"  name="As" placeholder="1er Trimestre" ngModel>
  </div>
</div>

<div class="form-group" >
  <label class="col-sm-3 control-label label-text" ></label>
  <label class="col-sm-3 control-label label-text" style="width:30px;margin-right: 0px!important;margin-top: 0px;padding-top: 0px;height: 37px;margin-bottom: 0px !important;margin-left: 14px;" >Du</label>
  <div class="col-sm-4" style="width: 280px;">
    <input type="date" name="dateDu" class="label-text" style="margin-top:5px;width: 214px;height: 37px;padding-left: 10px!important;" >
  </div>
  <label class="col-sm-3 control-label label-text" style="width: 30px;margin-right:0px!important;margin-top: 0px;padding-top: 0px;margin-left: 2px;" >Au</label><div class="col-sm-4">
  <input type="date" class="label-text" name="dateAu" style="margin-top: 5px;width: 214px;height: 37px;padding-left: 10px!important;" ></div></div>
<div class="form-group" ><label class="col-sm-3 control-label label-text">Libellé 2eme Trimestre</label>
  <div class="col-sm-4" style="width: 450px!important;"><input type="text" class="control-label label-text input-model-Decoup"  name="As" placeholder="2 eme Trimestre"  ngModel> </div> </div>
<div class="form-group" > <label class="col-sm-3 control-label label-text" ></label><label class="col-sm-3 control-label label-text" style="width:30px;margin-right: 0px!important;margin-top: 0px;padding-top: 0px;height: 37px;margin-bottom: 0px !important;margin-left: 14px;" >Du</label><div class="col-sm-4" style="width: 280px;">
  <input type="date" name="dateDu" class="label-text" style="margin-top:5px;width: 214px;height: 37px;padding-left: 10px!important;"></div>
  <label class="col-sm-3 control-label label-text" style="width: 30px;margin-right:0px!important;margin-top: 0px;padding-top: 0px;margin-left: 2px;" >Au</label><div class="col-sm-4"><input type="date" class="label-text" name="dateAu" style="margin-top: 5px;width: 214px;height: 37px;padding-left: 10px!important;" ></div></div>
<div class="form-group"><label class="col-sm-3 control-label label-text">Libellé 3eme Trimestre</label>
  <div class="col-sm-4" ><input type="text" class="control-label label-text  input-model-Decoup"  name="As" placeholder="3eme Trimestre" ngModel></div></div>
<div class="form-group" >  <label class="col-sm-3 control-label label-text" ></label><label class="col-sm-3 control-label label-text" style="width:30px;margin-right: 0px!important;margin-top: 0px;padding-top: 0px;height: 37px;margin-bottom: 0px !important;margin-left: 14px;" >Du</label><div class="col-sm-4" style="width: 280px;">
  <input type="date" name="dateDu" class="label-text" style="margin-top:5px;width: 214px;height: 37px;padding-left: 10px!important;" ></div>
  <label class="col-sm-3 control-label label-text" style="width: 30px;margin-right:0px!important;margin-top: 0px;padding-top: 0px;margin-left: 2px;" >Au</label><div class="col-sm-4">
    <input type="date" class="label-text" name="dateAu" style="margin-top: 5px;width: 214px;height: 37px;padding-left: 10px!important;" ></div></div>
</div>
