
<div class="col-md-12  top_10">
  <div class="row">
  <table class="table table-bordered table-striped">
    <tbody>
    <tr  *ngFor="let superAdmin of listSuperAdmins | async " >
      <td>{{ superAdmin.nom}}</td>
      <td> {{ superAdmin.prenom}}</td>
      <td>{{ superAdmin.nomE}}</td>
      <td>{{ superAdmin.email}}</td>
      <td>{{ superAdmin.tel1}} </td>
      <td><input type="submit" value="" data-toggle="modal"   data-target="#ModalModif"   ></td>
      <td><input type="submit" value=""    data-dismiss="modal" (click)="modalSupp(superAdmin)"  data-toggle="modal" data-target="#SupsuperAdmin"></td>
    </tr>
    </tbody>

  </table>
  </div>
<!--  <div class="row top_row"  *ngFor="let superAdmin of listSuperAdmins | async ">
    <div class="col-md-1">
      <div *ngIf="estNonVidee(superAdmin.avatar ); then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <div >
          <img class="img_liste" src="../../../assets/images/{{superAdmin.avatar}}" >
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <div >
          <img class="img_liste" src="../../../assets/images/iconeGroupe.png" >
        </div>
      </ng-template>
    </div>
    <div class="col-md-3"><label class="text_form"  style="margin-top: 10px"> {{ superAdmin.nom}} {{ superAdmin.prenom}} </label>
    </div>
    <div class="col-md-2"><label class="text_form"  style="margin-top: 10px"> {{ superAdmin.nomE}} </label>
    </div>
    <div class="col-md-2"><label class="text_form"  style="margin-top: 10px"> {{ superAdmin.email}} </label>
    </div>
    <div class="col-md-3"><label class="text_form"  style="margin-top: 10px"> {{ superAdmin.tel1}} </label>
    </div>



    <div class="col-1-md">
      <div class="icon_L_ajouter">


      </div>
    </div>
  </div>-->
</div>

<div class="row" style="margin-top: 50px">
  <div class="col-xs-6 col-md-2"></div>
  <div class="col-xs-6 col-md-4"><input type="submit" style="margin-left: 60px" name="" class="btn_bas" value="Imprimer la liste (PDF)" (click)="generationPDF()"></div>
  <div class="col-xs-6 col-md-4"><input type="submit" style="width: 50%" name="" class="btn_bas" value="Exporter EXCEL" ></div>
  <div class="col-xs-6 col-md-2" ></div>
</div>


<div id="SupsuperAdmin" class="modal fade" role="dialog">
  <div class="modal-dialog modal_Notif">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">


      </div>

      <div class="modal-body">
        <label class="notif_01"> êtes-vous sûr(e) de vouloir supprimer   «{{tmpsuperadmin.nom}}»  ? </label>
        <label class="groupeNotif_btn">
          <input type="submit"  class="btn_N_01" value="Oui" (click)="DeleteSuperAdmin(tmpsuperadmin.id)" data-dismiss="modal">
          <input type="submit"  class="btn_N_02" value="Non" data-dismiss="modal">
        </label>
      </div>
    </div>
  </div>
</div>


