<body>
<div>
  <button class="btn_menu" id="btnMenu"></button>

  <ul class=" col-md-3 nav navbar-nav side-nav exampleAccordion menuBox" id="menu" >
    <li  class="item_menu">
      <a class="item_color nav-link" >

        <span class="nav-link-text">Statistiques Générales</span>
      </a>
    </li>
    <!--  -->
    <li  class="item_menu">
      <a class="item_color nav-link" routerLink="groupscolaires">

        <span class="nav-link-text">Groupes scolaire</span>
      </a>
    </li>
    <!--  -->
    <li class="item_menu">
      <a class="item_color nav-link" routerLink="ecole">

        <span class="nav-link-text">École</span>
      </a>
    </li>
    <!--  -->
    <li class="item_menu">
      <a class="item_color nav-link"  routerLink="importation">

        <span class="nav-link-text">Systémes d'importation</span>
      </a>
    </li>
    <!--  -->
    <li class="item_menu">
      <a class="item_color nav-link" routerLink="" >

        <span class="nav-link-text">Professionnels</span>
      </a>
    </li>

    <!-- ******************** -->

    <li  class="item_s_menu">
      <a class="item_color nav-link" routerLink="directeur" >

        <span class="nav-link-text">Directeurs</span>
      </a>
    </li>

    <!--  -->

    <li  class="item_s_menu">
      <a class="item_color nav-link" routerLink="personnel">

        <span class="nav-link-text" >Personnels scolaires</span>
      </a>
    </li>

    <!--  -->

    <li  class="item_s_menu">
      <a class="item_color nav-link" routerLink="enseignants" >

        <span class="nav-link-text">Enseignants</span>
      </a>
    </li>


    <!--  -->

    <li  class="item_s_menu" style="border-bottom: 0px!important;">
      <a class="item_color nav-link" routerLink="superadmin" >

        <span class="nav-link-text">Super Admin</span>
      </a>
    </li>

    <!--  -->

    <li class="item_menu" style="border-top: 1px solid #4ab3cc">
      <a class="item_color nav-link" routerLink="matiere">

        <span class="nav-link-text">Matiéres</span>
      </a>
    </li>

    <!--  -->

    <li class="item_menu">
      <a class="item_color nav-link" routerLink="classe" >

        <span class="nav-link-text">Classes</span>
      </a>
    </li>

    <!--  -->

    <li class="item_menu">
      <a class="item_color nav-link" routerLink="eleve">

        <span class="nav-link-text">Eléves</span>
      </a>
    </li>

    <!--  -->

    <li class="item_menu">
      <a class="item_color nav-link" routerLink="parent">

        <span class="nav-link-text">Parents</span>
      </a>
    </li>

    <!-- ******************** -->
  </ul>

</div>
<router-outlet></router-outlet>

</body>
