.login-block{
  background: #FFFFFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float:left;
  width:100%;

}
.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:100%; border-radius: 0 ; padding:0;}
.container{background:#fff;}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 80px; position:relative;border-width: 1px;border-color:#000000;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:0px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:0px;}
.banner-text p{color:#fff;}


.carousel-inner img {width: 100%; max-height: 1000px;}
/* Carousel Header Styles */
.header-text {
  position: absolute;
  top: 5%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #e2e2e2;
  font-size:20px; letter-spacing:1px;
}
.header-text h2 {font-size: 50px; color:#fff; font-weight:600;}
.header-text h2 span {padding: 10px;color:orange;}
.header-text h3 span {padding: 15px;}

.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

